#footer
  .footer-info
    p 来地球逛一圈
    if theme.busuanzi == true
      p 本站总访问量：
        i#busuanzi_container_site_pv
          i#busuanzi_value_site_pv
        | 次
    p
      span  Copyright &copy;
        a(href=url_for('.'), rel='nofollow')= (config.author || config.title) + '.'
      span  Theme by
        a(rel='nofollow', target='_blank', href='https://github.com/MrStronger/hexo-theme-Mofan')  Mofan.
      span  Powered by
        a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
